<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameCanvas</title>
    <link rel="stylesheet" href="/css/gameCanvas.css">
    <script src="/javaScript/gameCanvas.js"></script>
</head>
<body>
<div class="canvas-container">
    <h1>Bienvenido al Juego del Laberinto</h1>

    <div class="canvas-decorations">
        <canvas id="canvas" height="400" width="600"></canvas>
    </div>
    <div class="compass-container">
        <img id="compass" src="/img/cross.webp" alt="Brújula" style="width: 150px; height: 150px;">
    </div>
    <div id="game-info">
        <p>Monedas recogidas: <span id="coinCount">0</span></p>
        <p>Habitación actual: <span id="currentRoom">Habitación inicial</span></p>
        <p>Llaves: <span id="keys">Ninguna</span></p>
    </div>
</div>

<script type="application/json" id="dataJson" th:utext="${roomData}"></script>
</body>
</html>
