<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameCanvas</title>
    <link rel="stylesheet" href="/css/gameCanvas.css">
    <script src="/javaScript/gameCanvas.js"></script>
</head>
<body>
<div class="game-layout">
    <!-- Información del juego y botón de reset -->
    <div class="sidebar">
        <div id="game-info">
            <p>Monedas recogidas: <span id="coinCount" th:text="${coinsCollected}">0</span></p>
            <p>Habitación actual: <span id="currentRoom">Habitación inicial</span></p>
            <p>Llaves: <span id="keys" th:text="${keysCollected}">Ninguna</span></p>
        </div>
        <div class="reset-container">
            <a href="/reset" class="reset-button">Reiniciar Juego</a>
        </div>
    </div>

    <!-- Canvas y brújula -->
    <div class="canvas-container">
        <h1>Bienvenido al Juego del Laberinto</h1>
        <div id="message" style="color: red; font-weight: bold; text-align: center;" th:text="${message}"></div>
        <div class="canvas-and-compass">
            <canvas id="canvas" height="400" width="600"></canvas>
            <div class="compass-container">
                <img id="compass" src="/img/cross.webp" alt="Brújula">
            </div>
        </div>
    </div>
</div>

<script type="application/json" id="dataJson" th:utext="${roomData}"></script>
</body>
</html>
