<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>gameCanvas</title>
    <link rel="stylesheet" href="/css/gameCanvas.css">
    <script src="/javaScript/gameCanvas.js"></script>
</head>
<body>
<div class="canvas-container">
    <h1>Bienvenido al Juego del laberinto</h1>

    <div class="canvas-decorations">
        <canvas id="canvas" height="500" width="700"></canvas>
    </div>
</div>


<script>
    const mapaData = JSON.parse('${mapaData}');
    console.log("Datos del mapa recibidos:", mapaData);
</script>
</body>
</html>