<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Juego de Laberintos</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<!-- Cabecera -->
<header>
    <h1>Juego de Laberintos</h1>
</header>

<!-- Contenido Principal -->
<main>
    <h1>¡Bienvenido al Juego de Laberintos!</h1>
    <p>¿Estás listo para vivir una experiencia inolvidable? Elige cómo deseas continuar:</p>

    <div class="button-container">
        <button onclick="location.href='/register'" class="btn">Registrarse</button>
        <button onclick="location.href='/login'" class="btn">Iniciar Sesión</button>
    </div>
</main>

<!-- Pie de página -->
<footer>
    <p>© 2024 Juego de Laberintos. Todos los derechos reservados. |
        <a href="https://esliceu.cat" target="_blank" rel="noopener noreferrer">Sobre Nosotros</a>
    </p>
</footer>
</body>
</html>
