<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle Maze Game - Start</title>
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
<div class="jungle-container">
    <h1 class="title">Welcome to the Jungle Maze Game!</h1>
    <p class="subtitle">Choose your adventure <span th:text="${message}"></span>:</p>

    <div class="map-selection">
        <div class="map-option" onclick="selectMap('mazeForest')">
            <div class="map-image" id="mazeForest"></div>
            <p>Map 1 - The Dense Forest</p>
        </div>
        <div class="map-option" onclick="selectMap('mazeCave')">
            <div class="map-image" id="mazeCave"></div>
            <p>Map 2 - The Hidden Cave</p>
        </div>
    </div>
</div>

<!-- Formulario oculto para enviar el mapId seleccionado -->
<form id="mapForm" action="/start" method="post">
    <input type="hidden" name="mapid" id="mapid">
</form>

<script>
    function selectMap(map) {
        document.getElementById("mapid").value = map; // Asegúrate de que el id sea 'mapid'
        document.getElementById("mapForm").submit(); // Envía el formulario
    }
</script>
</body>
</html>
