<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle Maze Game - Start</title>
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
<div class="jungle-container">
    <h1 class="title">Welcome to the Jungle Maze Game!</h1>
    <p class="subtitle">Choose your adventure, <span th:text="${message}"></span>:</p>

    <form id="mapForm" action="/start" method="post">
        <div class="map-selection">
            <!-- Generar mapas dinámicamente -->
            <div th:each="mapa : ${mapas}" class="map-option">
                <label>
                    <input type="radio" name="mapName" th:value="${mapa.name}">
                    <!-- Asignar una clase específica por nombre de mapa -->
                    <div class="map-image" th:class="'map-' + ${mapa.name}"></div>
                    <p th:text="${mapa.name}"></p>
                </label>
            </div>
        </div>
        <button type="submit" class="start-button">Start Game</button>
    </form>
</div>
</body>
</html>
